* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* pseudo-class for variables */
:root {
    --text-color: #dbffda;
    --main-bg-color: rgba(0,100,0,.8);
    --main-bg-color-dark: rgba(0,100,0,.6);
    --main-bg-color-darker: rgba(0,100,0,.4);
    --page-indent: 0;
}
@font-face {
    font-family: myFontForTitle;
    src: url("assets/fonts/crimson-text-bold-italic.ttf");
}
body {
    background-image: url("assets/images/darkness.png");
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}
img {
    max-height: 300px;
}
a {
    color: rgb(138, 235, 253);
    text-decoration: none;
}
a:hover {
    color: rgb(101, 205, 255);
}
a:visited {
    color: rgb(70, 171, 255);
}
.active {
    border: 5px solid #000000;
    border-top: none;

}
/* MAIN PAGE LAYOUT */
.h {
    max-height: 250px;
    height: 100px;
    display: flex;
}
.h--logo {
    display: none;
    position: fixed;
    height: 150px;
    max-height: 20vw;
    padding: 15px;
}
.h--title {
    font-weight: bold;
    font-size: 30px;
    font-family: myFontForTitle, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
}
.n {
    margin-bottom: 5px;
    padding: 3px 3vw;
    height: auto;
    min-width: 60vw;
    max-width: 100%;
    font-size: 15px;
    border-radius: 2px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    background: var(--main-bg-color-dark);
}
.content {
    display: flex;
    justify-content: space-between;
}
.empty {
    display: none;
    width: 200px;
}
.m {
    min-width: 60vw;
    height: auto;
    border-radius: 5px;
    align-self: center;
    max-width: 100%;
}
.m--title {
    font-size: 25px;
    padding: 10px 10px;
    color: var(--text-color);
    background: var(--main-bg-color-dark);
    display: flex;
    border-radius: 2px;
}
.m--content {
    min-height: 200px;
    height: 400px;
    padding: 0 10px;
    margin-top: 5px;
    display: flex;
    color: var(--text-color);
    background-image: linear-gradient(var(--main-bg-color) 40%, rgba(0,0,0,0));
    border-radius: 0.3vh;
}
.m--content--rating {
    margin-right: 3px;
    display: flex;
    font-size: 35px;
}
.m--content--image {
    padding: 10px;
    max-width: 18%;
    min-width: 18%;
    object-fit: contain;
    display: none;
}
.m--content--gDesc--gTitle {
    font-size: 25px;
}
.m--content--gDesc--author {
    font-size: 10px;
}
.m--content--gDesc--categ {
    height: 20px;
    display: flex;
}
.m--content--gDesc--categ--players {
    max-width: 20px;
}
.m--content--gDesc--gDetail {
    max-height: 85%;
    overflow: auto;
    font-size: 20px;
}
.m--content--gDesc--vice {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6em;
}
.asd {
    display: none;
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 150px;
    justify-content: center;
    background: var(--main-bg-color-dark);
    border-radius: 30px;
    padding: 0 10px;
    height: 300px;
    width: 200px;
    max-width: 19vw;
}
.asd--navList {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.f {
    margin-top: auto;
    height: auto;
    padding: 0 var(--page-indent);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: var(--main-bg-color-dark);
}
.f--navList {
    list-style: none;
    color: var(--text-color);
}
.f--navList li {
    margin: 5px 0;
}
.f--logo {
    max-height: 150px;
}
.f--info {
    color: var(--text-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.f--info--section {
    margin: 3px 0;
    display: flex;
    justify-content: flex-start;
}
.f--info--section p {
    padding-left: 3px;
    margin-top: 3px;
}

/* REVIEW PAGE LAYOUT */
.m--page {
    min-height: 200px;
    padding: 0 10px;
    margin: 50px 0;
    color: var(--text-color);
    background: var(--main-bg-color-darker);
    border-radius: 0.3vh;
}
.m--page--cont {
    display: flex;
    justify-content: center;
    width: 100%;
}
.m--page--cont--image {
    object-fit: contain;
}
.m--page--cont--image:hover {
    transition: transform 1s;
    transform: scale(1.7);
}
.m--page h2 {
    font-size: 40px;
}
.m--page p {
    font-size: 20px;
}

/* BIO PAGE LAYOUT */
.m--bio {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}.m--bio--cont {
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .m--bio--cont--info {
     width: 100%;
 }
.m--bio--cont--info h3 {
    font-size: 25px;
    margin-top: 10px;
}
/* MOBILE LAYOUT */
@media screen and (min-width: 480px) {
    :root {
        --page-indent: 20%;
    }
    .h--logo {
        display: inline-block;
    }
    .h--title {
        font-size: 60px;
    }
    .n {
        font-size: 25px;
        max-width: 60%;
    }
    .empty {
        display: flex;
    }
    .m {
        max-width: 60%;
    }
    .m--title {
        font-size: 30px;
    }
    .m--content {
        height: 200px;
    }
    .m--content--rating {
        font-size: 30px;
        align-self: center;
    }
    .m--content--image {
        display: flex;
    }
    .m--content--gDesc--gTitle {
        font-size: 25px;
    }
    .m--content--gDesc--author {
        font-size: 15px;
    }
    .m--content--gDesc--gDetail {
        font-size: 20px;
    }
    .m--content--gDesc--vice {
        font-size: 1.3em;
    }
    .asd {
        display: flex;
    }
}
/* PRINT LAYOUT */
@media print {
    :root {
        --page-indent: 0;
    }
    .h--logo {
        display: none;
    }
    .n {
        display: none;
    }
    .asd {
        display: none;
    }
    .empty {
        display: none;
    }
}
